<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE configuration
				SYSTEM "../webapps/Serv/WEB-INF/classes/mapper/mybatis-3-config.dtd">
<!--				PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
<!--				"http://mybatis.org/dtd/mybatis-3-config.dtd">-->
		<!--新建mybatis配置信息文件mybatis-config.xml-->
		<!--首先是跟元素-->
<configuration>
<settings>
	<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>
<typeAliases>
	<!--项目实体类对应的包名-->
	<package name="com.svt.entity"/>
</typeAliases>

</configuration>
